.card.save-value {
  background-color: #f093fb;
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  color: white;

  .name {
    font-size: 15px;
  }

  .value {
    font-size: 40px;
    text-align: center;
  }
}
