.card.sell-stock {
  background-color: #f093fb;
  background-image: linear-gradient(120deg, #f5576c 0%, #f093fb 100%);
  color: white;

  .main {
    display: flex;
    flex-direction: column;

    [name="stock"] {
      font-size: 20px;
    }

    .price {
      [name="price"] {
        font-size: 40px;
      }

      &::before {
        margin-right: 5px;
        font-size: 20px;
        content: "$";
      }
    }
  }
}
